@font-face
{
	font-family: sansa;
	src:url(SansationLight.woff);						/*font*/
}

body
{
	background: url(poetic1.png) no-repeat;             /*image*/
	background-size: cover;
}


header
{
	font-family: sansa;
	color: #e8362a;
}

.login 												/*login and signup button*/
{
	margin-top: 80px;
}

			/*inside login*/
			.forms
			{
				font-size: 17px;
			}
			input
			{
				size: 50%;
			}
nav													/*Navigation*/
{
	font-family: sansa;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	word-spacing: 35px;
	font-size: 25px;
	margin-bottom: 30px;
}

nav a
{
	text-decoration: none;
	color: grey;
}

nav a:hover
{
	background-color: grey;
	color: white;
	border-radius: 8px;
}

main 											/*main part of web page*/
{
	font-family: sansa;
	font-size: 20px;
	margin-left: 30px;
}

li: nth-of-type(even) 					/*advanced selector*/
{
	background: #e6b120;
}

li: nth-of-type(odd)
{
	background: #e0da1d;
}

.sidebar                            			 /* sidebar styling*/
{
	font-size: 17px;
	font-weight: 100;
	margin-top: 50px;
	font-family: sansa;
}